.material-icons {
    padding-right: 10%;
    
}

h1 {
    width: 450px;
    margin-left: 3%;
    font-size: 350%;
}

p {
    margin-top: 10%;
    font-size: 150%;
}

#random {
    background-color: red;
    margin-top: 3%;
    padding: 18px 28px;
    font-size: 52px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#vegan {
    background-color: darkgreen;
    margin-top: 3%;
    padding: 18px 58px;
    font-size: 32px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#vegetarian {
    background-color: darkgreen;
    margin-top: 3%;
    padding: 18px 28px;
    font-size: 32px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#modal {
    background-color: darkgreen;
    margin-top: 3%;
    padding: 18px 28px;
    font-size: 32px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

img {
    width: 200px;
    height: 200px;
 }
 #yelp-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 #restaurant {
    padding: 10px 10px;
 }