img {
    width: 200px;
    height: 200px;
}

#yelp-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#restaurant {
    padding: 10px 10px;
}

#map {
    height: 500px;
    width: 100%
}